@model IEnumerable<Metin2RFT.Models.AccountModel>

@{
    ViewBag.Title = "Fiókok";
}

<h1>Fiókok</h1>

@using (Html.BeginForm())
{
    <div class="search-bar">
        @using (Html.BeginForm("Account", "Admin", FormMethod.Post))
        {
            @Html.TextBox("search")
            <input type="submit" value="Keresés" class="search-button" />
        }
    </div>

    <table>
        <tr>
            <th>Felhasználónév</th>
            <th>Bannolt?</th>
            <th>Részletek</th>
        </tr>
        @foreach (var actual in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => actual.Username)</td>
                <td>@Html.DisplayFor(model => actual.IsBanned)</td>
                <td>
                    @Html.ActionLink("Tovább", "AccountDetails", new { id = actual.Id })
                </td>
            </tr>
        }
    </table>
}