@model Metin2RFT.Models.RenamePlayerModel

@{
    ViewBag.Title = "RenamePlayer";
}

<h2>RenamePlayer</h2>
@using (Html.BeginForm())
{
<div class="search-bar">
    @using (Html.BeginForm("RenamePlayer", "Admin", FormMethod.Post))
    {
        @Html.TextBox("NewName")
        @Html.HiddenFor(model => model.Player)
        <input type="submit" value="Átnevez" class="search-button" />
    }
</div>
}