@model Metin2RFT.Models.Entities.Item

@{
    ViewBag.Title = "Részletek";
}

<h2>Részletek</h2>

<div>
    <hr />
    <table>
        <tr>
            <th>
                Név
            </th>

            <th>
                Ár
            </th>

            <th>
                Leírás
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Price)
            </td>

            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("Details", "Item", FormMethod.Post))
{

    <input type="submit" value="Vásárlás" />

}


