.body-content .msg, .body-content .login {

}

.body-content .login {
    border-style: double;
    border-width: thick;
    border-color: white;
    border-radius: 5px;
}

.body-content .msg {
    top: 100px;
    color: red;
    font-size: 20px;
}

.body-content .login table * {
    margin: 100px;
}

.body-content .login table caption {
    font-size: 50px;
    font-weight: bold;
}

.body-content .login table {
    width: 350px;
    height: 500px;
}

.body-content .login #submit input {
    padding: 5px;
}
