.body-content .msg, .body-content .login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.body-content .login {
    border-style: double;
    border-width: thick;
    border-color: white;
    border-radius: 5px;
}

.body-content .msg {
    top: 100px;
    color: red;
    font-size: 20px;
}

.body-content .login table * {
    margin: 10px;
}

.body-content .login table caption {
    font-size: 30px;
    font-weight: bold;
}

.body-content .login table {
    width: 350px;
    height: 150px;
}

.body-content .login #submit input {
    padding: 5px;
}

.navigation {
	background-position:right top;
	height:64px;
    margin:0px auto;
	text-align:center;
    color:yellow;
}

.navigation ul {
  margin:auto;
  padding:0;
  list-style:none;
  width:515px;
  line-height:64px;}

.navigation ul li {
  float:left;
  width:100px;
  margin-right:3px;
  line-height:45px;
  margin-top:11px;
}

.navigation a {
  display:block;
  line-height:45px;
  height:45px;
  width:100px;
  text-decoration:none;
  color:yellow;
  text-shadow:0px 1px 4px #000;
  background:url("img/button.png");
  padding:0 0px 0 0px;
  margin:0 0px;
  font-size:12px;
   text-shadow:0px 1px 0px #999;
 
}
.navigation a:hover {
  	background-position:bottom;
}
	input.txt {
    background:url(img/input.png);
	height:27px;
	width:171px;
	color:#CCC;
	font-size:11px;
	border:none;
    text-indent:5px;
	text-shadow:0 2px 3px #000;
			}
			input.btn {
height:27px;
width:109px;
background:url(img/btn.png);
color:#CCC;
font-size:11px;
border:none;
text-align:center;
line-height:22px;
text-shadow:0 2px 3px #000;
