.body-content .msg, .body-content .login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.body-content .login {
    border-style: double;
    border-width: thick;
    border-color: white;
    border-radius: 5px;
}

.body-content .msg {
    top: 100px;
    color: red;
    font-size: 20px;
}

.body-content .login table * {
    margin: 10px;
}

.body-content .login table caption {
    font-size: 30px;
    font-weight: bold;
}

.body-content .login table {
    width: 350px;
    height: 150px;
}

.body-content .login #submit input {
    padding: 5px;
}


