
@{
    ViewBag.Title = "Download";
}

<h2><a href="http://dlcl.gfsrv.net/metin2/clients/hu/metin2_installer.exe">Letöltés</a></h2>

<h3>Rendszerigény:</h3>
<table>
    <tr>
        <th></th>
        <th>Minimum igények</th>
        <th>Ajánlott igények</th>
    </tr>
    <tr>
        <td>Operációs rendszer</td>
        <td>Windows 98</td>
        <td>Windows XP 32 bit</td>
    </tr>
    <tr>
        <td>Processzor</td>
        <td>Intel Pentium III 600MHz / AMD Athlon MP </td>
        <td>Intel Pentium 4 1.5GHz / AMD Athlon XP 1700+ </td>
    </tr>
    <tr>
        <td>Grafika</td>
        <td>AMD Radeon 7000 64mb or NVIDIA Riva TNT2 </td>
        <td>AMD Radeon 8500 Series 64MB or NVIDIA GeForce 3 Ti 500 </td>
    </tr>
    <tr>
        <td>Memória</td>
        <td>128 Mb</td>
        <td>512 Mb</td>
    </tr>
    <tr>
        <td>DirectX</td>
        <td>DirectX 8-cal kompatibilis grafikus kártya</td>
        <td>DirectX 8-cal kompatibilis grafikus kártya</td>
    </tr>
</table>


